

.container {
  display: grid;
  grid-template-columns: repeat(40, 2px);
  grid-template-rows: repeat(40, 2px);
  height: 16px;
  width: 16px;
  gap: 0.5px;
}

.square {
  width: 2px;
  height: 2px;
  background-color: rgb(29, 29, 29);
  transition: background-color 1s ease;
  border: 1px solid black;
}

.square:hover {
  background-color: #e74c3c;
}